In [1]:
#test
import google.datalab.bigquery as bq

In [19]:
query_text1="""
select SK_ID_CURR 
,count(SK_ID_BUREAU ) as tot_num_acct
,sum(case when CREDIT_ACTIVE ='Active' then 1 else 0 end) as num_act_acct 
,sum(case when CREDIT_ACTIVE ='Closed' then 1 else 0 end) as num_clsd_acct
,sum(case when CREDIT_ACTIVE ='Bad debt' then 1 else 0 end) as num_bad_acct
from  mynewdatasets.bureau 
group by SK_ID_CURR
limit 10

"""

In [20]:
results = bq.Query(query_text1).execute().result().to_dataframe()

In [21]:
results.head()

   SK_ID_CURR  tot_num_acct  num_act_acct  num_clsd_acct  num_bad_acct
0      215413             3             1              2             0
1      376415             4             2              2             0
2      330715             2             2              0             0
3      237105            13             2             11             0
4      198761             8             3              5             0